/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Algemene styling */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.wittebut {
  padding: .625em 1.875em;
  margin: 1.25em;
  border-radius: 0.3125em;
  border: solid 0.0625em black;
  text-decoration: none;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.zwartebut {
  padding: .625em 1.875em;
  margin: 1.25em;
  border-radius: 0.3125em;
  border: solid 0.0625em white;
  text-decoration: none;
  background-color: white;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}


/* Header opmaak */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header img:first-of-type {
  max-width: 100%;
  max-height: 3.5em;
}

.navheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3.44em;
  background-color: white;
  width: 100%;
}

.navheader ul {
  display: flex;
  justify-content: space-around;
  width: 70%; 
}

.navheader li {
  list-style: none;
}

.navheader a {
  text-decoration: none;
  color: black;
  letter-spacing: .1em;
  font-weight: 200;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 1.5625em;
  height: 0.1875em;
  margin: 0.3125em;
  background: black;
}

/* Main opmaak */
main {
  padding-top: 3.125em;
}

  /* New music tab */
#newmusichome ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#newmusichome li {
  width: 100%; 
  position: relative;
}  

#newmusichome div {
 position: absolute;
 bottom: 1.25em;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 width: 100%;
}

#newmusichome img {
  width: 100%;
  height: 100%;
}


iframe:first-of-type{
  width: 100%;
  min-height: 10em;
}


  /* Releases tab */
#releaseshome {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 1.25em;
}

#releaseshome img {
  width: 90%;
}

h2:first-of-type {
font-size: 2.5em;
}


  /* Tour dates tab */
#tourdateshome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #232323;
  color: white;
  padding-bottom: 1.25em;
}

#tourdateshome ul {
  list-style: none;
  padding: 0 1.25em;
  margin: 0;
  width: 100%;
  text-align: center;
}

#tourdateshome li {
  padding-bottom: .625em;
}

#tourdateshome li:nth-of-type(2) {
  border-top: solid 0.125em #3a3a3a;
  border-bottom: solid 0.125em #3a3a3a;
}

#tourdateshome a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#tourdateshome .zwartebut {
  color: black;
}

#tourdateshome p:first-of-type {
  text-transform: uppercase;
  font: lighter;
  font-weight: 300;
  margin: 1.25em;
}

#tourdateshome p:nth-child(n+2) {
  font-weight: 100;
  font: lighter;
  margin: 1.25em;
}


  /* News tab */
#newshome {
  text-align: center;
}


  /* Video tab */
#videoshome {
  text-align: center;
}

  /* slider opmaak voor nieuws en videos */
#newshome .slider ul{
  margin: 2.5em 0;
  width: 90%;
  height: 20.625em;
  display: flex;
  overflow-x: scroll;
  
}

#newshome li, #videoshome li {
  width: 100%;
  list-style: none;
  margin: 0 2em;
}

#newshome img {
  width: 18.75em;
  max-height: 10.625em;
}

#videoshome .slider ul {
  margin: 2.5em 0;
  width: 90%;
  height: 18.75em;
  display: flex;
  overflow-x: scroll;
}

#videoshome iframe {
  width: 18.75em;
  max-height: 10.625em;
}

  /* Nieuwe releases tab */
#newreleaseshome {
  text-align: center;
}

.newreleases {
  padding: 3em 2em;
}

.newreleases:first-of-type {
  background-color: lightgrey;
}

.newreleases:last-of-type {
  background-color: #232323;
}

.newreleases img {
  width: 80%;
}
  
.hovervlak {
  display: none;
}
  

  /* Store tab */
#storehome {
  text-align: center;
  margin: 3em 0em;
  text-transform: uppercase;
}

#storehome h2 {
  font: lighter;
  font-size: 1.8em;
  letter-spacing: .4em;
}

#storehome ul {
  list-style: none;
  padding: 0;
}

#storehome li {
  margin: 4em 2em;
}

#storehome img {
  width: 80%;
}



/* Newspagina */

#news {
  background: lightgrey;
}

#news h2 {
  background: lightgrey;
  padding: 3em 0 2.5em 0;
  text-align: center;
  font-weight: 100;
  letter-spacing: .2em;
  margin: 0;
}

#newsarticles {
  text-align: center;
  background: lightgrey;
}

#newsarticles ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#newsarticles li {
 background: white;
 width: 80%;
 margin: 1em 5em;
}

#newsarticles img {
  max-width: 100%;
}

#newsarticles h3, #newsarticles p {
  font-weight: 100;
  letter-spacing: .2em;
  padding: .5em 0;
}

/* Footer opmaak */
footer nav {
  background-color: #232323;
  
}

footer ul {
  list-style: none;
  padding: 1em 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0;
}

#nbtid {
  background-color: lightgrey;
  text-align: center;
  padding: 1.5em 1.8em;
}

#nbtid a{
  text-decoration: none;
  color: black;
}

#copyright {
  text-align: center;
  padding: 1em;
}

#copyright a{
font-size: 0.15em;
text-decoration: none;
color: black;
}

@media (min-width: 480px) {
  iframe:first-of-type {
    min-height: 20em;
  }

  footer ul {
    margin: 0% 20%;
  }
}

@media (min-width: 990px) {
  
  #releaseshome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 4em;
  }

  #releaseshome img {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    place-self: center stretch;
  }

  #releaseshome h2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
    font-weight: 100;
    font-size: 3em;
    margin: 0 0 1em 0;
  }

  #releaseshome a:first-of-type {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: center;
    margin: 0;
  }

  #releaseshome a:nth-of-type(2){
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin: 0;
  }

  .wittebut, .zwartebut {
    letter-spacing: .5em;
  }

  #videoshome .slider ul {
    height: 100%;
  }

  #tourdateshome li {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    text-align: start;
  }

  #tourdateshome a{
    align-self: center;
  }

  #storehome ul {
    display: flex;
  }

  #newsarticles li {
    width: 50%;
  }

  .wittebut {
    margin: 0;
  }

}

@media (max-width: 870px) {
  .navheader ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 3.5em;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navheader a:nth-of-type(n+2) {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: .3em;
  }

  .burger {
    display: block;
  }
}

.navheader.navactive ul {
  transform: translateX(0%);
}
